/* variables */
:root {
	--bg_color: #90E0EF;
    --text_color: white;
    --blue_text: #03045E;
    --mid_blue: #0077B6;
    --light_blue: #00B4D8;
}

.nav {
    
    position: fixed;
    width: 100%;
    z-index: 1;
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom: 2px solid var(--blue_text) !important;
}
.nav-link {
    color: var(--blue_text) !important;
}

.nav-link:hover {
    color: var(--light_blue) !important;
}

.projectGallery,
#accordionGroups,
#home,
.contact
 {
    background-color: var(--bg_color);
    padding: 3rem 1rem 1rem 1rem;
    min-height: 100vh;
}

/* ------------- */
/* HOME START */
.transparent_bg {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1rem;
    color: white;
    background-color: rgba(0,0,0,0.1);
    border-radius: 15px;
    margin-bottom: 1rem;
}

.transparent_bg img {
    border-radius: 100%;
    padding: 1rem;
    max-width: 100%;
}

.heading_text {
    flex-shrink: 2;
}

.name,
.title,
.intro {
    padding: 0 1rem;
}

.about-content {
    padding: 1rem;
    border-radius: 15px;
    border: 5px solid white;
    background-color: rgba(0,0,0,0.1);
    color: white;
}
/* HOME END */
/* ------------- */


/* ------------- */
/* PROJECT START */
.row > * {
    padding: 0 ;
}

.row .cardTop {
    padding: 0.5rem;
}

.cardLink {
    text-decoration: none;
}

.cardLink:hover {
    text-decoration: none;
}

.card:hover {
    box-shadow: inset 0px 0px 0px 
			var(--mid_blue), 0 0 15px 
			var(--mid_blue);
}

.card-images {
    border: none;
    border-radius: 5px;
}

.cardContent {
    border-radius: 0 0 5px 5px;
    background-color: rgba(255,255,255,0.9) !important;
    color: var(--blue_text) !important;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.cardContent {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.contentTitle {
    font-size: 16px;
}

.contentText {
    font-size: 11px;
}

.cardContent a {
    padding: 0 0 0 1rem;
    color: var(--blue_text) !important;
}

.cardContent a:hover {
    filter:drop-shadow(2px 2px 1px var(--light_blue));
}

/* PROJECT END */
/* ------------- */


/* ------------- */
/* SKILLS START */
.accordion-header {
    color: white;
}
.accordion-button {
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white !important;
    border: none;
}

.accordion-button:focus {
    border: none !important;
    box-shadow: none !important;
}

.skills_list li span {
    margin-right: 1rem;
}
/* SKILLS END */
/* ------------- */

/* ------------- */
/* CONTACT START */
.contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: stretch;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
}

.links a {
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    color: var(--blue_text);
    padding: 2rem 1rem 2rem 1rem;
}

.contactForm {
    align-content: stretch;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    width: 60%;
}

label,
input,
textarea,
#submitBtn {
    margin-top: 1rem;
    border-radius: 5px;
}

/* CONTACT END */
/* ------------- */